@model Tweetinvi.Models.ITweet[]

@{
    ViewBag.Title = "Retweets of a tweet";
    Layout = "_Layout";
}

<h2>Retweets of <a asp-action="Detail" asp-route-id="@ViewContext.RouteData.Values["id"]">a tweet</a></h2>

@foreach (var tweet in Model)
{
    <div class="media">
        <div class="media-body">
            <h5 class="mt-0">
                @if (tweet.CreatedBy.Verified)
                {
                    <span class="indicator-verified">☑</span>
                }
                <a asp-controller="User" asp-action="Detail" asp-route-id="@tweet.CreatedBy.ScreenName">@tweet.CreatedBy.Name</a>
                <a asp-controller="Tweet" asp-action="Detail" asp-route-id="@tweet.IdStr">@tweet.CreatedAt</a>
                @if (tweet.FavoriteCount > 0)
                {
                    <span class="badge badge-pill badge-secondary">♥ @tweet.FavoriteCount</span>
                }
                @if (tweet.RetweetCount > 0)
                {
                    <span class="badge badge-pill badge-secondary">⇆ @tweet.RetweetCount</span>
                }
                @if (tweet.ReplyCount > 0)
                {
                    <span class="badge badge-pill badge-secondary">⤶ @tweet.ReplyCount</span>
                }
                @if (tweet.QuoteCount > 0)
                {
                    <span class="badge badge-pill badge-secondary">🗩 @tweet.QuoteCount</span>
                }
            </h5>
            <p>@tweet.Text</p>
        </div>
    </div>
}
